<section>
  <app-filter-hotel (filterChange)="onFilterChange($event)"></app-filter-hotel>
   <div class="hotel-list">
     @if ( (hotels.length === 0 || paginatedHotels.length === 0) && !isLoanding) {
     <div class="flex justify-center items-center grid grid-rows-9">
       <p class="text-center text-gray-100 bg-black px-6 p-4">No found results</p>
     </div>
    } @else if (hotels.length > 0 && !isLoanding) {
    <div class="grid gap-3 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      @for(hotel of paginatedHotels; track hotel.id) {
      <div class="hotel-item border p-4 rounded-lg shadow-md">
        <img [src]="hotel.image" alt="{{ hotel.name }}" />
        <h3>{{ hotel.name }}</h3>
        <p>{{ hotel.address }}</p>
        <p>Stars: {{ hotel.stars }}</p>
        <p>Rating: {{ hotel.rate | number:'1.0-1' }}</p>
        <p>Price: {{ hotel.price | currency: 'EUR' }}</p>
      </div>
      }
    </div>
    }
   </div>
    @if (isLoanding) {
      <div class="text-center">
        <div role="status">
          <svg aria-hidden="true" class="inline w-20 h-20 text-gray-200 animate-spin dark:text-gray-600 fill-green-700"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor" />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill" />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    }
  <div class="flex flex-col items-center mb-4">
    <span class="text-sm text-gray-700">
      Showing <span class="font-semibold text-gray-900">{{ (currentPage -1 ) * pageSize + 1 }}</span> to <span
        class="font-semibold text-gray-900">{{ currentPage * pageSize > totalItems ? totalItems : currentPage * pageSize
        }}</span> of <span class="font-semibold text-gray-900">{{ totalItems }}</span> Entries
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <button
        class="flex items-center justify-center mr-2 px-4 h-8 text-sm font-medium text-white bg-green-950 rounded-s hover:bg-green-800"
        [disabled]="currentPage === 1" (click)="prevPage()">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        Prev
      </button>
      <button
        class="flex items-center justify-center ml-2 px-4 h-8 text-sm font-medium text-white bg-green-950 border-0 border-s border-gray-700 rounded-e hover:bg-green-800"
        [disabled]="currentPage === totalPages" (click)="nextPage()">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </button>
    </div>
  </div>
</section>