<section>
  <app-filter-hotel (filterChange)="onFilterChange($event)"></app-filter-hotel>
  <div class="hotel-list">
    @if ( hotels.length === 0 || paginatedHotels.length === 0 ) {
    <div class="flex justify-center items-center grid grid-rows-9">
      <p class="text-center text-gray-100 bg-black px-6 p-4">No found results</p>
    </div>
    } @else if (hotels.length > 0) {
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5" >
      @for(hotel of paginatedHotels; track hotel.id) {
      <div class="hotel-item border p-4 rounded-lg shadow-md">
        <img [src]="hotel.image" alt="{{ hotel.name }}" />
        <h3>{{ hotel.name }}</h3>
        <p>{{ hotel.address }}</p>
        <p>Stars: {{ hotel.stars }}</p>
        <p>Rating: {{ hotel.rate }}</p>
        <p>Price: {{ hotel.price | currency: 'EUR' }}</p>
      </div>
      }
    </div>
    } @else {
    <p class="flex justify-center items-center grid grid-rows-9">No hotels found</p>
    }
  </div>
  <div class="flex flex-col items-center mb-4">
    <span class="text-sm text-gray-700">
      Showing <span class="font-semibold text-gray-900">{{ (currentPage -1 ) * pageSize + 1 }}</span> to <span
        class="font-semibold text-gray-900">{{ currentPage * pageSize > totalItems ? totalItems : currentPage * pageSize
        }}</span> of <span class="font-semibold text-gray-900">{{ totalItems }}</span> Entries
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <button
        class="flex items-center justify-center mr-2 px-4 h-8 text-sm font-medium text-white bg-green-950 rounded-s hover:bg-green-800"
        [disabled]="currentPage === 1" (click)="prevPage()">
        <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg>
        Prev
      </button>
      <button
        class="flex items-center justify-center ml-2 px-4 h-8 text-sm font-medium text-white bg-green-950 border-0 border-s border-gray-700 rounded-e hover:bg-green-800"
        [disabled]="currentPage === totalPages" (click)="nextPage()">
        Next
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </button>
    </div>
  </div>
</section>