<nav class="w-full min-h-[80px] flex-shrink-0">
    <div class="w-full flex flex-wrap items-center justify-between sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../assets/logo_200x200px.png" class="h-14" alt="WeHotel Logo" />
            <span class="self-center text-2xl font-bold text-green-950 whitespace-nowrap">We Hotel</span>
        </a>
        <span class="text-sm md:text-base lg:text-lg font-medium text-green-900">Your resting place!</span>
    </div>
</nav>
